html, body {
height: 100%;
margin: 0;
font-size: 20px;
font-family: 'Roboto', Helvetica, sans-serif;
font-weight: 200;
background-color: #CEECF5;
color: #000000;
}

* {
-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

body{
line-height: 1.8em;
}

p {
font-size: 20px;
font-weight: 300;
margin-bottom: 1em;
}

a {
color: #08088A;
}

a:hover {
color: #610B21;
}

a:active {
color: #610B21;
}


h1 {
font-size: 40px;
margin-bottom: 1em;
font-weight: 400;
}

h2 {
font-size: 36px;
margin-bottom: 1em;
font-weight: 400;
}

h3 {
font-size: 30px;
margin-bottom: 1em;
font-weight: 400;
}

.content {
padding-left: 15px;
padding-right: 15px;
margin-top: 1.5em;
padding: 1.5em;
margin: 1.5em auto;
border: 0;
border-bottom: 4px solid #fec624;
}


header {
height: 2.8em;
position: fixed;
top: 0;
-webkit-transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background 0.4s ease-in-out;
transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background 0.4s ease-in-out;
width: 100%;
z-index: 1;
}

img, embed, object, video, canvas {
max-width: 100%;
}

.member-pic{
    border-radius: 50%;
    max-width: 70%;
    margin-bottom: 1em;
}

.row:not(.sponsors) {
    margin-right: -30px;
    margin-left: -30px;
}

.container-fluid {
padding-left: 0;
padding-right: 0;
}

.navbar {
padding: 0;
}
.navbar-brand {
padding: 0 1em;
}
.nav-up {
top: -2.8em;
height: 2.8em;
opacity: 0;
}

.nav-down {
background-color: rgba(34, 39, 41, 0.965);
opacity: 100;
-webkit-box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
-moz-box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
}
.navbar-toggler {
border: 0;
background-color: #fec624;
border-radius: 0;
}

nav, footer, footer .container-fluid, .navbar-collapse .navbar-nav {
background-color: rgba(34, 39, 41, 0.965);
}

.navbar-nav {
padding-left: 1rem;
padding-right: 1rem;
}

footer {
color: #aaa;
padding: 2em 0;
width: 100%;
height: 10em;
line-height: 3em;
font-size: 0.8em;
}

footer a {
text-decoration: none;
color: #ccc;
}

footer a:hover,
footer a:active {
text-decoration: none;
color: #fff;
}

.banner .content {
padding-top: 45vh;
text-align: center;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity:0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../images/sub.jpg");
    min-height:600px;
}

.bgimg-2 {
    background-image: url("../images/dvl.jpg");
    min-height:600px;
}

.bgimg-3 {
    background-image: url("../images/motors.jpg");
    min-height:600px;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  text-align: center;
  color: #EEEEEE;
  background-color: #000000;
}

.btn-light{
  color: #EEEEEE;
}

.btn-dark{
  color: #000000;
}

.next {
width: calc(100vw + 2em);
margin: 0 -1em;
height: 2em;
display: block;
position: relative;
top: -2em;
z-index: 99;
text-align: center;
}

.form-control {
border-radius: 0;
background-color:  rgba(34, 39, 41, 0.965);
border-color:  rgba(255,255,255, 0.3);
}

.form-control {
background: rgba(34, 39, 41, 0.965) !important;
border-color: rgba(34, 39, 41, 0.965) !important;
color: #fff !important;
}

.form-control:focus{
background: rgba(34, 39, 41, 0.965) !important;
border-color: #141719 !important;
color: #fff !important;
}

.form-control:-webkit-autofill {
border-color: rgba(34, 39, 41, 0.965) !important;
-webkit-text-fill-color: #fff !important;
-webkit-box-shadow: 0 0 0 50px rgba(34, 39, 41, 0.965) inset !important;
}

.form-control:-webkit-autofill:hover, .form-control:-webkit-autofill:focus {
border-color: #141719 !important;
-webkit-text-fill-color: #fff !important;
-webkit-box-shadow: 0 0 0 50px rgba(34, 39, 41, 0.965) inset !important;
}

.form-control::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:-moz-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control::-moz-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:-ms-input-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

form.success {
    color: lightgreen;
    font-weight: 400;
}


form {
    margin-bottom: 2em;
}

.team {
    margin-bottom: 1.5em;
}
.member-info {
    margin-top: 1.5em;
}
.member-info .member-pic, .home div img {
    border-radius: 50%;
    max-width: 70%;
    margin-bottom: 1em;
}

.home div i, .mdi-48px.mdi-set, .mdi-48px.mdi:before {
    line-height: 1em;
    margin-bottom: 0;
    font-size: 2.5em !important;
}

.page-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-height: 40vh;
    margin-top: 2.7em;
    margin-bottom: -2.7em;
    border-bottom: 4px solid #313862 !important;
    width: 100%;
    height: 40vh;

}

.map {
    margin-top: 5em;
    height:450px;
    width:600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.sponsors {
    margin-top: 2em;
}
.sponsors div {
    vertical-align: middle;
}
.sponsors img{
    max-height: 70%;
    vertical-align: middle;
}
