html, body {
height: 100%;
margin: 0;
font-size: 20px;
font-family: 'Roboto', Helvetica, sans-serif;
font-weight: 200;
background-color: #CEECF5;
color: #000000;
}

* {
-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

body{
line-height: 1.8em;
}

p {
font-size: 20px;
font-weight: 300;
margin-bottom: 1em;
}

a {
color: #08088A;
}

a:hover {
color: #610B21;
}

a:active {
color: #610B21;
}


h1 {
font-size: 40px;
margin-bottom: 1em;
font-weight: 400;
}

h2 {
font-size: 36px;
margin-bottom: 1em;
font-weight: 400;
}

h3 {
font-size: 30px;
margin-bottom: 1em;
font-weight: 400;
}

.content {
padding-left: 15px;
padding-right: 15px;
margin-top: 1.5em;
padding: 1.5em;
margin: 1.5em auto;
border: 0;
border-bottom: 4px solid #fec624;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {
    color: #ccc;
    display: inline-block;
    padding: 0 5px;
    border-right:1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;}
.lineno::-moz-selection {
    background-color: transparent;
} /* Mozilla specific */
.lineno::selection {
    background-color: transparent;
} /* Other major browsers */

code{
    line-height: 1.1em;
}

header {
height: 2.8em;
position: fixed;
top: 0;
-webkit-transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background 0.4s ease-in-out;
transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background 0.4s ease-in-out;
width: 100%;
z-index: 1;
}

img, embed, object, video, canvas {
max-width: 100%;
}
.member-pic{
    border-radius: 50%;
    max-width: 70%;
    margin-bottom: 1em;
}

.row:not(.sponsors) {
    margin-right: -30px;
    margin-left: -30px;
}

.container-fluid {
padding-left: 0;
padding-right: 0;
}

.navbar {
padding: 0;
}
.navbar-brand {
padding: 0 1em;
}
.nav-up {
top: -2.8em;
height: 2.8em;
opacity: 0;
}

.nav-down {
background-color: rgba(34, 39, 41, 0.965);
opacity: 100;
-webkit-box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
-moz-box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
}
.navbar-toggler {
border: 0;
background-color: #fec624;
border-radius: 0;
}

nav, footer, footer .container-fluid, .navbar-collapse .navbar-nav {
background-color: rgba(34, 39, 41, 0.965);
}

.navbar-nav {
padding-left: 1rem;
padding-right: 1rem;
}

footer {
color: #aaa;
padding: 2em 0;
width: 100%;
height: 10em;
line-height: 3em;
font-size: 0.8em;
}

footer a {
text-decoration: none;
color: #ccc;
}

footer a:hover,
footer a:active {
text-decoration: none;
color: #fff;
}

.banner .content {
padding-top: 45vh;
text-align: center;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity:0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../images/sub.jpg");
    min-height:600px;
}

.bgimg-2 {
    background-image: url("../images/dvl.jpg");
    min-height:600px;
}

.bgimg-3 {
    background-image: url("../images/motors.jpg");
    min-height:600px;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  text-align: center;
  color: #EEEEEE;
  background-color: #000000;
}

.btn-light{
  color: #EEEEEE;
}

.btn-dark{
  color: #000000;
}

.next {
width: calc(100vw + 2em);
margin: 0 -1em;
height: 2em;
display: block;
position: relative;
top: -2em;
z-index: 99;
text-align: center;
}

.form-control {
border-radius: 0;
background-color:  rgba(34, 39, 41, 0.965);
border-color:  rgba(255,255,255, 0.3);
}

.form-control {
background: rgba(34, 39, 41, 0.965) !important;
border-color: rgba(34, 39, 41, 0.965) !important;
color: #fff !important;
}

.form-control:focus{
background: rgba(34, 39, 41, 0.965) !important;
border-color: #141719 !important;
color: #fff !important;
}

.form-control:-webkit-autofill {
border-color: rgba(34, 39, 41, 0.965) !important;
-webkit-text-fill-color: #fff !important;
-webkit-box-shadow: 0 0 0 50px rgba(34, 39, 41, 0.965) inset !important;
}

.form-control:-webkit-autofill:hover, .form-control:-webkit-autofill:focus {
border-color: #141719 !important;
-webkit-text-fill-color: #fff !important;
-webkit-box-shadow: 0 0 0 50px rgba(34, 39, 41, 0.965) inset !important;
}

.form-control::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:-moz-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control::-moz-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:-ms-input-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

form.success {
    color: lightgreen;
    font-weight: 400;
}


form {
    margin-bottom: 2em;
}

.team {
    margin-bottom: 1.5em;
}
.member-info {
    margin-top: 1.5em;
}
.member-info .member-pic, .home div img {
    border-radius: 50%;
    max-width: 70%;
    margin-bottom: 1em;
}

.home div i, .mdi-48px.mdi-set, .mdi-48px.mdi:before {
    line-height: 1em;
    margin-bottom: 0;
    font-size: 2.5em !important;
}

.page-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-height: 40vh;
    margin-top: 2.7em;
    margin-bottom: -2.7em;
    border-bottom: 4px solid #313862 !important;
    width: 100%;
    height: 40vh;

}

.map {
    margin-top: 5em;
    height:450px;
    width:600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.sponsors {
    margin-top: 2em;
}
.sponsors div {
    vertical-align: middle;
}
.sponsors img{
    max-height: 70%;
    vertical-align: middle;
}
