html, body {
position: relative;
height: 100%;
padding: 0;
margin: 0;
width: 100vw;
overflow-x: hidden;
}

* {
-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

body {
font-size: 16px;
line-height: 1.8em;
font-family: 'Roboto', Helvetica, sans-serif;
font-weight: 100;
}
body, .parallax:not(#banner) .content {
background-color: #141719;
color: #eee;
}
p {
margin-bottom: 0;
}

img,
embed,
object,
video,
canvas {
max-width: 100%;
}

.dropdown-menu, .dropdown-item {
background-color: #141719 !important;
color: #eee !important;
border-radius: 0 !important;
border-width: 0 !important; 
}
.row:not(.sponsors) {
    margin-right: -30px;
    margin-left: -30px;
}

.container-fluid {
padding-left: 0;
padding-right: 0;
}

section .content,
article .content {
padding-left: 15px;
padding-right: 15px;
}
article .content {
margin-top: 1.5em;
padding: 1.5em;
}

article .content h1 {
font-size: 2.4em;
margin: 0.5em 0;
font-weight: 300;
}
article .content h2 {
font-size: 1.25em;
margin: 0;
font-weight: 100;
}
article .content hr {
margin: 1.5em auto;
border: 0;
width: 30vw;
border-bottom: 4px solid #fec624;
}
article .content .row hr {
margin: 1.5em 0;
border: 0;
width: 100%;
border-bottom: 4px solid #313862;
}
article .content h3 {
font-size: 1.3em;
margin: 0;
font-weight: 400;  
}
article .content p {
margin: 0 0 1em 0;
}

a {
-webkit-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
color: #ddd;
}
a:hover {
color: #eee;
}
.active {
color: #fff;
}

header {
height: 2.8em;
position: fixed;
top: 0;
-webkit-transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background 0.4s ease-in-out;
transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background 0.4s ease-in-out;
width: 100%;
z-index: 1;
}

.navbar {
padding: 0;
}
.navbar-brand {
padding: 0 1em;
}
.nav-up {
top: -2.8em;
height: 2.8em;
opacity: 0;
}

.nav-down {
background-color: rgba(34, 39, 41, 0.965);
opacity: 100;
-webkit-box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
-moz-box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
box-shadow: 0px 2px 2px -1px rgba(00,00,00,0.75);
}
.navbar-toggler {
border: 0;
background-color: #fec624;
border-radius: 0;
}


nav, footer, footer .container-fluid, .navbar-collapse .navbar-nav {
background-color: rgba(34, 39, 41, 0.965);
}


.navbar-nav {
padding-left: 1rem; 
padding-right: 1rem; 
}

footer {
color: #aaa;
padding: 2em 0;
width: 100%;
height: 10em; 
line-height: 3em; 
font-size: 0.8em;
}
footer a {
text-decoration: none;
color: #ccc;
}
footer a:hover,
footer a:active {
text-decoration: none;
color: #fff;
}

#banner .content {
padding-top: 45vh;
text-align: center;
}

.lazy {
    opacity: 0;
    -webkit-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
}

.parallax { 
min-height: 100vh; 
height: 100vh; 
display: block;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallax .content {
height: 100vh;
display: block;
padding: 1em;
}
.parallax.bottom, .parallax.right {
padding-top: 35vh;
}
.parallax.bottom .content, .parallax.right .content{
height: 65vh;
border-top: 4px solid #fec624;
}

.next {
width: calc(100vw + 2em);
margin: 0 -1em;
height: 2em;
display: block;
position: relative;
top: -2em;
z-index: 99;
text-align: center;

-webkit-box-shadow: 0px 10px 4px -5px rgba(00,00,00,0.5);
-moz-box-shadow: 0px 10px 4px -5px rgba(00,00,00,0.5);
box-shadow: 0px 10px 4px -5px rgba(00,00,00,0.5);
}

.form-control {
border-radius: 0;
background-color:  rgba(34, 39, 41, 0.965);
border-color:  rgba(255,255,255, 0.3);
}

.form-control {
background: rgba(34, 39, 41, 0.965) !important;
border-color: rgba(34, 39, 41, 0.965) !important;
color: #fff !important;
}

.form-control:focus{
background: rgba(34, 39, 41, 0.965) !important;
border-color: #141719 !important;
color: #fff !important;
}

.form-control:-webkit-autofill {
border-color: rgba(34, 39, 41, 0.965) !important;
-webkit-text-fill-color: #fff !important;
-webkit-box-shadow: 0 0 0 50px rgba(34, 39, 41, 0.965) inset !important;
}

.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus {
border-color: #141719 !important;
-webkit-text-fill-color: #fff !important;
-webkit-box-shadow: 0 0 0 50px rgba(34, 39, 41, 0.965) inset !important;
}

.form-control::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:-moz-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control::-moz-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:-ms-input-placeholder {
color: rgba(255, 255, 255, 0.6) !important;
}

form.success {
    color: lightgreen;
    font-weight: 400;
}


form {
    margin-bottom: 2em;
}

#map, .page-image {
height: 60vh;
width: 100%;
margin-top: 2.7em;
margin-bottom: -2.7em;
border-bottom: 4px solid #313862 !important;
}

.team {
    margin-bottom: 1.5em;
}
h4 {
    font-size: 1.1em;
}
.member-info {
    margin-top: 1.5em;
}
article .content .member-info p {
    margin: 1em 0;
}
.member-info .member-pic,
.home div img {
    border-radius: 50%;
    max-width: 80%;
    margin-bottom: 1em;
}

.page-image {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.page-image div {
    height: 60vh;
}


article .content .blog-posts h1 {
    font-size: 1.25em;
    font-weight: 400;
}
article .content .post-meta {
    color: #999;
}
article .content .post h2.post-meta {
    font-size: 1.25em;
}
article .content .blog-posts .post p.post-meta {
    font-size: 1em;
    margin-bottom: 1em;
}
#sidebar h3 {
    margin: 0.5em 0;
}

.sponsors {
    margin-top: 2em;
}
.sponsors div {
    vertical-align: middle;
}
.sponsors img{
    max-height: 70%;
    vertical-align: middle;
}

.parallax .content p,
.home div p {
    margin: 1em 0 1.5em 0;
    font-size: 0.8em;
}

.parallax .content h2,
.home div h2 {
    font-size: 1.1em;
}

.home div {
    margin: 3em 0;
}
@media (min-width: 768px){
    body {
        font-size: 18px;
    }
    nav, .navbar-collapse .navbar-nav {
        background-color: transparent;
    }
    nav.page {
        background-color: rgba(34, 39, 41, 0.5);
    }

    header, nav {
        height: 4em;
    }

    .nav-up {
        top: -4em;
        height: 4em;
        opacity: 0;
    }

    #map {
        height: 60vh;
        margin-top: 4em;
        margin-bottom: -6em;
    }

    .page-image {
        height: calc(60vh + 4em);
        margin-top: 0;
        margin-bottom: -5.5em;
    }
    
    .parallax.bottom {
        padding-top: 100vh;
        -webkit-transition: padding-top 0.7s ease-in-out;
        transition: padding-top 0.7s ease-in-out;
    }
    .parallax.bottom .content {
        height: 50vh;
    }

    .parallax.right {
        padding-top: 0;
    }

    .parallax.right .content{
        margin-left: 100vw;
        -webkit-transition: margin-left 0.7s ease-in-out;
        transition: margin-left 0.7s ease-in-out;
        height: 100vh;
        position: relative;
        right: -500vw;
        border-top: 0;
        border-left: 4px solid #313862;
    }

    article .content {
        padding: 5.5em;
    }

    article .content h1 {
        font-size: 2.4em;
        margin: 0.5em 0;
    }
    article .content h2 {
        font-size: 1.25em;
    }
    article .content hr {
        margin: 2.5em auto;
        width: 30vw;
    }
    article .content h3 {
        font-size: 1.3em;
    }
    article .content p {
        margin: 0 0 2em 0;
    }

    footer {
        padding: 3em 0;
        height: 12em; 
        line-height: 3em; 
    }

    form {
        margin-bottom: 0;
    }

    .form-group {
        width: calc(100% - 2em);
        margin-bottom: 2em;
    }


    .blog-posts {
        width: calc(100% - 2em);
    }

}





.mdi::before {
font-size: 24px;
line-height: 14px;
}
.btn .mdi::before {
position: relative;
top: 4px;
}
.btn-xs .mdi::before {
font-size: 18px;
top: 3px;
}
.btn-sm .mdi::before {
font-size: 18px;
top: 3px;
}
.dropdown-menu .mdi {
width: 18px;
}
.dropdown-menu .mdi::before {
position: relative;
top: 4px;
left: -8px;
}
.nav .mdi::before {
position: relative;
top: 4px;
}
.navbar .navbar-toggle .mdi::before {
position: relative;
top: 4px;
color: #FFF;
}
.breadcrumb .mdi::before {
position: relative;
top: 4px;
}
.breadcrumb a:hover {
text-decoration: none;
}
.breadcrumb a:hover span {
text-decoration: underline;
}
.alert .mdi::before {
position: relative;
top: 4px;
margin-right: 2px;
}
.input-group-addon .mdi::before {
position: relative;
top: 3px;
}
.navbar-brand .mdi::before {
position: relative;
top: 2px;
margin-right: 2px;
}
.list-group-item .mdi::before {
position: relative;
top: 3px;
left: -3px
}

.b-lazy {
-webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
        -o-transition: opacity 500ms ease-in-out;
        transition: opacity 500ms ease-in-out;
            max-width: 100%;
            opacity: 0;
}
.b-lazy.b-loaded {
            opacity: 1;
}