<div id="map"></div>

<script src="/js/map.js"></script>

<script>
function geocodeAddress(geocoder, resultsMap) {
  geocoder.geocode({'address': '{{ site.currentlocation }}' }, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0mVMdi_kG4YaPCJ0OzC6KeqqgW-IbNCI&callback=initMap" async defer></script>
