---
---

$text-color1: #222;
$text-color2: #3f4a75;
// $background-color: #fff;
$background-image: url("../img/sd01.jpg");

html, body {
	// background-color: black;
}

html, body, #wrap, #column, #background {
	color: $text-color1;
}

h1, h2, h3, h4, h5, h6, .navbar-default .navbar-brand {
	color: $text-color2;
}

.navbar {
	//margin-bottom: 0;

#wrap {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	//min-height: calc(100vh - 52px);
}

// Default container rules
.container {
	// position: absolute;
	//min-height: calc(100vh - 52px);
	background:rgba(255,255,255,0.85);
	// background:rgba(0,0,0,0.85);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: 10px solid #000000;
}

// Responsive rule: medium form (phone)
@media (min-width: 520px) {
	.container {
		width: 520px;
		padding-top: 40px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

// Responsive rule: medium form (tablet)
@media (min-width: 760px) {
	.container {
		width: 700px;
	}

	body:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $background-image no-repeat center center fixed;
		background-size: cover;
		opacity: 1.00;
		z-index: -1;
	}
}

// Responsive rule: large form (desktop monitor)
@media (min-width: 980px) {
	.container {
		width: 900px;
	}
}

.page-header {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #333;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
