---
---

/* 
NOTE:
    Default ==  Smallest screen size +
                Anything that doesn't change from smallest to largest

    Consider phone screens when setting default styles. If it wouldn't look good
    on a phone then move it into one of the media-query's (@media).

Here's some SCSS tips and things I've learned:

1. Variables
    -   Begin with the `$` character
    -   Are assigned the same was as a CSS property
2. Element nesting
    -   If you have container with a style and a sub-element with a style,
        instead of having separate blocks you can nest the sub-element block
        within the container block.
    e.g.:
        CSS:
            .container {
                margin-top: 0;
            }

            .container p {
                margin-top: 20px;
            }
        SCSS:
            .container {
                margin-top: 0;

                p {
                    margin-top: 20px;
                }
            }
            */

            $text-color1: #444;
            $text-color2: #3f4a75;
            $text-shadow: #ddd;
            $background-color: #f8f8f8;
            $background-image: url("../img/sd01.jpg");

// Everything default
* {
	color: $text-color1;
    text-shadow: $text-shadow 0 0 2px;
}

// Titles default (Blue)
h1, h2, h3, h4, h5, h6, .navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
	color: $text-color2;
}

// Navigation bar default
.navbar-default {
	border-radius: 0;
	margin-bottom: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    .navbar-brand img {
        margin-top: -13px;
        margin-bottom: -8px;
        // margin-top: -15px;
        // margin-bottom: -15px;
        // padding-top: -13px;
        // padding-bottom: -13px;
    }

    // Navigation bar items
    .navbar-nav li a {
        // Resize padding and margin for inset shadows
        padding: 5px 10px 5px 10px;
        margin: 10px 5px 10px 5px;

        // Inset shadows on hover or active
        &:hover, &.active {
            border-radius: 4px;
            box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
        }
    }
}

// Content header default
.page-header {
	margin-top: 20px;
	border-bottom: 1px solid #333;
}

// Footer default
// 
#footer {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #333;
}

#leftcolumn {
     width: 250px;
     background-color: #111;
     padding: 0;
     margin: 0;
     display: block;
     border: 1px solid white;
     position: fixed;
}

#rightcolumn {
     width: 750px;
     background-color: #777;
     display: block;
     float: left;
     border: 1px solid white;
}

// Responsive rule: medium form (phone)
@media (min-width: 520px) {

    // Containers (for content and footer)
	.container {
		width: 520px;
        background-color: $background-color;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
        padding: 20px 40px 20px 40px;
        margin-top: 20px;
	}

    // Footer
    #footer {
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        border-top: 0;

        p {
            margin: 0;
        }
    }

    // A trick I learned to make a background image
    // transparent (but doesn't need to be transparent)
    body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $background-image no-repeat center center fixed;
        background-size: cover;
        // opacity: 0.7;
        z-index: -1;
    }

}

// Responsive rule: medium form (tablet)
@media (min-width: 760px) {
	.container {
		width: 700px;
	}
}

// Responsive rule: large form (desktop monitor)
@media (min-width: 980px) {
	.container {
		width: 980px;
	}
}

// Begin post tag styling
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #e5e5e5;
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF;
}
// End post tag styling
