---
layout: right-sidebar
title: Blog
subtitle: Read about what we're doing, learn how to contribute, and more!
permalink: /blog
---

{% for post in site.posts %}

<section class="blog-posts {% for topic in post.categories %}{{ topic }} {% endfor %}">

	  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	    <div class="post-header">
	        <a href="{{ post.url }}" title="{{ post.title }}">
		        <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
	        </a>
	        <p class="post-meta">
	            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>
	            <br/><a href="{{ site.url }}{{ post.url }}#disqus_thread" title="{{ post.title }}" class="comment-count"></a>
	        </p>
	    </div>

	    <div class="post-content post-excerpt text-left" itemprop="articleBody">
	        {{ post.excerpt }}
	    </div>

        <p>
            <a href="{{ post.url }}" title="{{ post.title }}" role="button" class="btn btn-outline-light">Read More</a>
        </p>

	  </article>
	  <hr/>

</section>

{% endfor %}
