<!--
Templated from the default layout of Tom Preston-Werner:
https://github.com/mojombo/mojombo.github.io

I've found it helpful to google even the smallest thing I don't know.
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="San Diego City Robotics" />
        <!--<link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />-->
        <!--<meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>-->

        <!-- syntax highlighting CSS -->
        <!--<link rel="stylesheet" href="/css/syntax.css" type="text/css" />-->

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

        <!-- Typekit -->
        <!--<script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>-->
        <!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
    </head>
    <body>

        <div class="site">
            <div class="title">
                San Diego City Robotics
                <a class="extra" href="http://github.com/sdcityrobotics">home</a>
                <a class="extra" href="/">github</a>
            </div>

            {{ content }}

            <div class="footer">
                <div class="contact">
                    <p>
                    Email:<br />
                    <a href="mailto:sdcityrobotics@gmail.com">San Diego City Robotics</a><br />
                    <a href="mailto:">San Diego City College</a>
                    </p>
                </div>
                <!--<div class="contact">-->
                <!--<p>-->
                <!--<a href="http://github.com/mojombo/">github.com/mojombo</a><br />-->
                <!--<a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br />-->
                <!--<a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>-->
                <!--</p>-->
                <!--</div>-->
                <!--<div class="rss">-->
                <!--<a href="http://feeds.feedburner.com/tom-preston-werner">-->
                <!--<img src="/images/rss.png" alt="Subscribe to RSS Feed" />-->
                <!--</a>-->
                <!--</div>-->
            </div>
        </div>

        <!--Ribbon banner thing-->
        <!--<a href="http://github.com/mojombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>-->

    </body>
</html>
