---
layout: no-sidebar
---

{% if content %}
    {{ content }}
{% endif %}

{% for team in site.data.team %}
<div class="row team">
    <div class="col-12">
        <h3 class="text-center">{{ team.name }}</h3>
    </div>
    {% for member in team.members %}
        <div class="col-12 col-md-4 col-lg-3 member-info text-center">
            <img class="member-pic lazy" 
                src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                data-src="{{ member.pic }}"
                alt="{{ member.name }} - {{ team.name }} Team"
            />
            <h4>{{ member.name }}</h4>
            <p>{{ member.bio }}</p>
        </div>
    {% endfor %}
    
</div>
{% endfor %}